*{
	text-align: center;
}
h1{
	text-align: center;
	font-size:50px;
}
h2{
	text-align: left;
}
body{
	background-color: #DFE1A7;
}
#googleMap{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
}

#map{
	border: 1px solid black;
}

#bef{
	margin-top: 30px;
}
#footer{
	text-align: left;
}
.gomb{
	border: 1px solid gray;
	padding: 2px;
	text-decoration: none;
	background-color: #C6CDD1;
	cursor:pointer;
	color: #19597E;
}